.reviews {
    font-family: Arial, sans-serif;
    padding: 40px 0;

    width: 70%; /* 中心显示 */
    margin: 0 auto;
    color: #ffffff;
  }
  
  .reviews-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .reviews-divider {
    width: 50%;
    margin: 0 auto 40px;
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  .reviews-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #ffffff;
  }
  
  .review-item {
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;; /* 分隔线 */
  }
  
  .review-author {
    color: #ffffff;
    flex: 1;
    max-width: 120px; /* 固定左侧宽度 */
    text-align: left;
  }
  
  .review-author .name {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .review-author .role {
    color: #ffffff;
    font-size: 12px;
  }
  
  .review-title {
    flex: 1.5;
    max-width: 200px; /* 固定标题宽度 */
    text-align: left;
    color: #ffffff;
  }
  
  .review-title h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.4;
  }
  
  .review-content {
    flex: 3;
    text-align: left;
    color: #ffffff;
  }
  
  .review-content p {
    font-size: 11px;
    line-height: 1.6;
    color: #ffffff;
  }
  